<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title th:text="#{title.login}">Document</title>
</head>
<body>
<div class="content registration_content">
    <div class="header_mobile">
        <div class="header_mobile_wrapper js-header-mobile-wrapper">
            <div class="container container_help">
                <div class="header_top_row">
                    <div class="logo_wrapper">
                        <a href="/">
                            <img src="/images/logo.svg" alt="" class="logo_img logo_img_tablet">
                            <img src="/images/logo_mobile.svg" alt="" class="logo_img logo_img_mobile">
                            <p class="logo_text">MEDIAP2P</p>
                        </a>
                    </div>
                    <div class="lang_cab_wrapper">
                        <div>
                            <div  class="lang_cab_wrapper_unauth" sec:authorize="!isAuthenticated()">
                                <a href="/registration" class="btn_auth_mobile">Авторизация</a>
                                <ul class="mobile_lang_wrapper mobile_lang_wrapper_unauthed">
                                    <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                                        <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}" class="nav_menu__item_lang">
                                            <span>EN</span>
                                            <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                        </a>
                                    </div>
                                    <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                                        <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}" class="nav_menu__item_lang">
                                            <span>RU</span>
                                            <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                        </a>
                                    </div>
                                </ul>
                            </div>
                            <div sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper lang_cab_wrapper_authed">
                                <div>
                                    <a href="/account/history" class="btn_cabinet_wrapper">
                                        <img src="/images/user-mobile.svg" alt="" class="user_avatar_mobile">
                                        <span>Личный кабинет</span>
                                    </a>
                                </div>
                                <ul class="mobile_lang_wrapper mobile_lang_wrapper_authed">
                                    <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                                        <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}" class="nav_menu__item_lang">
                                            <span>EN</span>
                                            <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                        </a>
                                    </div>
                                    <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                                        <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}" class="nav_menu__item_lang">
                                            <span>RU</span>
                                            <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                        </a>
                                    </div>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="burger_icon_wrapper">
                        <div  class="js-burger-icon">
                            <img src="/images/burger_icon.svg" class="burger_icon_tablet" alt="">
                            <img src="/images/burger_icon_mobile.svg" class="burger_icon_mobile" alt="">
                        </div>

                    </div>
                </div>
                <div class="container_burger">
                    <div class="burger_menu js-burger-menu">

                        <ul class="menu_list_top">
                            <li class="burger_item burger_item_first burger_item_mobile_tablet">
                                <a href="/" class="burger_item_link">Начать обмен</a>
                            </li>
                            <li class="burger_item burger_item_first burger_item_mobile">
                                <a href="/" class="burger_item_link">Главная</a>
                            </li>
                            <li class="burger_item">
                                <a href="/about-us" class="burger_item_link">О нас</a>
                            </li>
                            <li class="burger_item">
                                <a href="/reserves" class="burger_item_link">Наши резервы</a>
                            </li>


                            <li class="close_burger_wrapper js-close">
                                <img src="/images/cross_burger.png" alt="">
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!--    <div class="burger_menu_wrapper js-burger-menu">-->

        <div class="overlay js-overlay"></div>


    </div>
    <header>
        <div class="container header_desktop">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo_desktop.svg" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">MEDIAP2P</p>
                    </a>
                </div>

                <div class="nav_menu_right">
                    <div class="nav_menu_unauth" sec:authorize="!isAuthenticated()">
                        <ul class="nav_menu">
                            <div class="nav_menu_left">
                                <li class="nav_menu__item"><a href="/" class="nav_menu__item_link">НАЧАТЬ ОБМЕН</a></li>
                                <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link">РЕЗЕРВЫ</a></li>
                                <li class="nav_menu__item"><a href="/about-us" class="nav_menu__item_link">О НАС</a></li>
                            </div>
                        </ul>


                        <div class="nav_menu__item nav_menu__item_auth">
                            <div>
                                <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                                    <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}" class="nav_menu__item_lang">
                                        <span>EN</span>
                                        <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                    </a>
                                </div>
                                <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                                    <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}" class="nav_menu__item_lang">
                                        <span>RU</span>
                                        <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                    </a>
                                </div>
                            </div>
                            <a th:href="@{/login}" class="btn_auth btn_login_header">Войти</a>
                            <a th:href="@{/registration}" class="btn_aut btn_register_header">Регистрация</a>
                        </div>
                    </div>
                    <div sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper">
                        <ul class="nav_menu nav_menu_authed">
                            <div class="nav_menu_left">
                                <li class="nav_menu__item nav_menu__item_autheduser"><a href="/" class="nav_menu__item_link">НАЧАТЬ ОБМЕН</a></li>
                                <li class="nav_menu__item nav_menu__item_autheduser"><a href="/reserves" class="nav_menu__item_link">РЕЗЕРВЫ</a></li>
                                <li class="nav_menu__item nav_menu__item_autheduser"><a href="/about-us" class="nav_menu__item_link">О НАС</a></li>
                            </div>
                        </ul>
                        <div class="authed_user_wrapper">
                            <div>
                                <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                                    <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}" class="nav_menu__item_lang">
                                        <span>EN</span>
                                        <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                    </a>
                                </div>
                                <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                                    <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}" class="nav_menu__item_lang">
                                        <span>RU</span>
                                        <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                    </a>
                                </div>
                            </div>
                            <div class="btn_cabinet_text">
                                <div class="header_percent_wrapper">
                                    <div class="header_wallet">
                                        <span><img src="/images/wallet.png" alt="" class="wallet_img"></span>
                                        <span><span th:text="${walletAmount}"></span><span> $</span></span>
                                    </div>
                                </div>
                            </div>
                            <a href="/account/history" class="btn_cabinet_wrapper">
                                <span class="btn_cabinet_user">
                                    <img src="/images/user_header.svg" alt="" class="cabinet_user_img">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <form th:action="@{/login}" method="post" class="login auth_form_container">
        <div class="login_form_left">
            <img src="/images/login.png" alt="" class="signup_img">
            <a th:href="@{/registration}" class="btn_secondary btn_aut btn_auth_new">Регистрация</a>
        </div>
        <div  class="login_form_right">
            <p class="login_text">Войти</p>
            <div class="auth_input_parent">
                <input type="email"
                       class="email input_email input_general input_auth input_login js-input-email"
                       id="username"
                       name="username"
                       autofocus="autofocus"
                       placeholder="Ваш E-mail"
                />
                <img src="/images/auth_email.png" alt="" class="auth_icon">

            </div>
            <div class="auth_input_parent">
                <input type="password"
                       class="password input_password input_general input_auth input_login js-password"
                       id="password"
                       name="password"
                       placeholder="Пароль"
                />
                <img src="/images/auth_close_eye.png" alt="" class="auth_icon closed_eye js-closed-eye">
                <img src="/images/auth_open_eye.png" alt="" class="auth_icon opened_eye js-opened-eye">
            </div>
            <div th:if="${param.error}">
                <div class="invalid_data">
                    <img src="/images/false.png" alt="" class="false_img"><p>Неправильный логин или пароль</p>
                </div>
            </div>
            <a th:href="@{/forgot/password}" class="forgot_passw_text">Забыли
                пароль?</a><br>
            <button type="submit" class="btn_general btn_auth btn_login js-btn-enter">Войти</button>

        </div>
    </form>
</div>
<script src="/js/password_eye.js"></script>
<script src="/js/burger.js"></script>
<script src="/js/validate_auth.js"></script>
<script src="//code.tidio.co/y1qxv75ounfxvprxbxargnrelyfkfkbf.js" async></script>
</body>
</html>