<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title th:text="#{title.resetPasswordEmail}">Document</title>
</head>
<body>
<div class="update_password_page_bc">
    <div class="header_mobile">
        <div class="header_mobile_wrapper js-header-mobile-wrapper">
            <div class="container container_help">
                <div class="header_top_row">
                    <div class="logo_wrapper">
                        <a href="/">
                            <img src="/images/logo.svg" alt="" class="logo_img logo_img_tablet">
                            <img src="/images/logo_mobile.svg" alt="" class="logo_img logo_img_mobile">
                            <p class="logo_text">MEDIAP2P</p>
                        </a>
                    </div>
                    <div class="lang_cab_wrapper">
                        <div>
                            <div  class="lang_cab_wrapper_unauth" sec:authorize="!isAuthenticated()">
                                <a href="/registration" class="btn_auth_mobile">Авторизация</a>
                                <ul class="mobile_lang_wrapper mobile_lang_wrapper_unauthed">
                                    <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                                        <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}" class="nav_menu__item_lang">
                                            <span>EN</span>
                                            <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                        </a>
                                    </div>
                                    <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                                        <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}" class="nav_menu__item_lang">
                                            <span>RU</span>
                                            <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                        </a>
                                    </div>
                                </ul>
                            </div>
                            <div sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper lang_cab_wrapper_authed">
                                <div>
                                    <a href="/account/history" class="btn_cabinet_wrapper">
                                        <img src="/images/user-mobile.svg" alt="" class="user_avatar_mobile">
                                        <span>Личный кабинет</span>
                                    </a>
                                </div>
                                <ul class="mobile_lang_wrapper mobile_lang_wrapper_authed">
                                    <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                                        <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}" class="nav_menu__item_lang">
                                            <span>EN</span>
                                            <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                        </a>
                                    </div>
                                    <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                                        <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}" class="nav_menu__item_lang">
                                            <span>RU</span>
                                            <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                        </a>
                                    </div>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="burger_icon_wrapper">
                        <div  class="js-burger-icon">
                            <img src="/images/burger_icon.svg" class="burger_icon_tablet" alt="">
                            <img src="/images/burger_icon_mobile.svg" class="burger_icon_mobile" alt="">
                        </div>

                    </div>
                </div>
                <div class="container_burger">
                    <div class="burger_menu js-burger-menu">

                        <ul class="menu_list_top">
                            <li class="burger_item burger_item_first burger_item_mobile_tablet">
                                <a href="/" class="burger_item_link">Начать обмен</a>
                            </li>
                            <li class="burger_item burger_item_first burger_item_mobile">
                                <a href="/" class="burger_item_link">Главная</a>
                            </li>
                            <li class="burger_item">
                                <a href="/about-us" class="burger_item_link">О нас</a>
                            </li>
                            <li class="burger_item">
                                <a href="/reserves" class="burger_item_link">Наши резервы</a>
                            </li>


                            <li class="close_burger_wrapper js-close">
                                <img src="/images/cross_burger.png" alt="">
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!--    <div class="burger_menu_wrapper js-burger-menu">-->

        <div class="overlay js-overlay"></div>


    </div>
    <header>
        <div class="container header_desktop">
            <div class="header_block">
                <div class="logo_wrapper">
                    <div class="logo_img_wrapper">
                        <a href="/">
                            <img src="/images/logo_desktop.svg" alt="" class="logo_img">
                        </a>
                    </div>
                    <a href="/">
                        <p class="logo_text">MEDIAP2P</p>
                    </a>
                </div>

                <div class="nav_menu_right">
                    <div class="nav_menu_unauth" sec:authorize="!isAuthenticated()">
                        <ul class="nav_menu">
                            <div class="nav_menu_left">
                                <li class="nav_menu__item"><a href="/" class="nav_menu__item_link">НАЧАТЬ ОБМЕН</a></li>
                                <li class="nav_menu__item"><a href="/reserves" class="nav_menu__item_link">РЕЗЕРВЫ</a></li>
                                <li class="nav_menu__item"><a href="/about-us" class="nav_menu__item_link">О НАС</a></li>
                            </div>
                        </ul>


                        <div class="nav_menu__item nav_menu__item_auth">
                            <div>
                                <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                                    <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}" class="nav_menu__item_lang">
                                        <span>EN</span>
                                        <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                    </a>
                                </div>
                                <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                                    <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}" class="nav_menu__item_lang">
                                        <span>RU</span>
                                        <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                    </a>
                                </div>
                            </div>
                            <a th:href="@{/login}" class="btn_auth btn_login_header">Войти</a>
                            <a th:href="@{/registration}" class="btn_aut btn_register_header">Регистрация</a>
                        </div>
                    </div>
                    <div sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')" class="btns_auth_wrapper">
                        <ul class="nav_menu nav_menu_authed">
                            <div class="nav_menu_left">
                                <li class="nav_menu__item nav_menu__item_autheduser"><a href="/" class="nav_menu__item_link">НАЧАТЬ ОБМЕН</a></li>
                                <li class="nav_menu__item nav_menu__item_autheduser"><a href="/reserves" class="nav_menu__item_link">РЕЗЕРВЫ</a></li>
                                <li class="nav_menu__item nav_menu__item_autheduser"><a href="/about-us" class="nav_menu__item_link">О НАС</a></li>
                            </div>
                        </ul>
                        <div class="authed_user_wrapper">
                            <div>
                                <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'ru_RU'}">
                                    <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}" class="nav_menu__item_lang">
                                        <span>EN</span>
                                        <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                    </a>
                                </div>
                                <div class="nav_menu__item nav_menu__item_flag_wrapper" th:if="${#locale.toString() == 'en_US'}">
                                    <a th:href="@{${#httpServletRequest.requestURI}(lang='ru_RU')}" class="nav_menu__item_lang">
                                        <span>RU</span>
                                        <img src="/images/lang_arrow.png" alt="" class="lang_arrow">
                                    </a>
                                </div>
                            </div>
                            <div class="btn_cabinet_text">
                                <div class="header_percent_wrapper">
                                    <div class="header_wallet">
                                        <span><img src="/images/wallet.png" alt="" class="wallet_img"></span>
                                        <span><span th:text="${walletAmount}"></span><span> $</span></span>
                                    </div>
                                </div>
                            </div>
                            <a href="/account/history" class="btn_cabinet_wrapper">
                                <span class="btn_cabinet_user">
                                    <img src="/images/user_header.svg" alt="" class="cabinet_user_img">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <form class="update_password_form update_password_form_for_reset_password" th:action="@{/user/reset/password}" method="post">
        <div class="update_password_header">
            <p class="update_password_title">Восстановить пароль</p>
            <a href="/login" class="btn_close_update_password">
                <svg xmlns="http://www.w3.org/2000/svg" width="74" height="74" viewBox="0 0 74 74" fill="none">
                    <circle cx="37" cy="37" r="37" fill="#282828"/>
                    <path d="M45.3721 28.6279C44.5349 27.7907 43.2791 27.7907 42.4419 28.6279L37 34.0698L31.5581 28.6279C30.7209 27.7907 29.4651 27.7907 28.6279 28.6279C27.7907 29.4651 27.7907 30.7209 28.6279 31.5581L34.0698 37L28.6279 42.4419C27.7907 43.2791 27.7907 44.5349 28.6279 45.3721C29.0465 45.7907 29.6744 46 30.093 46C30.5116 46 31.1395 45.7907 31.5581 45.3721L37 39.9302L42.4419 45.3721C42.8605 45.7907 43.4884 46 43.907 46C44.3256 46 44.9535 45.7907 45.3721 45.3721C46.2093 44.5349 46.2093 43.2791 45.3721 42.4419L39.9302 37L45.3721 31.5581C46.2093 30.7209 46.2093 29.4651 45.3721 28.6279Z" fill="white"/>
                </svg>
            </a>
        </div>
        <div class="update_password_main">
            <div class="update_password_main_title">
                <p class="update_password_media">MEDIAP2P</p>
                <p class="update_password_01">01</p>
            </div>
            <div class="update_password_inputs">
                <div class="update_password_input update_password_input_top">
                    <label for="password" class="input_label">Введите новый пароль</label>
                    <div class="auth_input_parent_update_password">
                        <input id="password"
                               type="password"
                               class="input_email input_general input_auth input_update_password js-password js-password1"
                               name="password"/>
                        <img src="/images/auth_close_eye.png" alt="" class="auth_icon closed_eye js-closed-eye">
                        <img src="/images/auth_open_eye.png" alt="" class="auth_icon opened_eye js-opened-eye">
                        <span><input id="token" name="token" type="hidden"
                                     th:value="${param.token}"/>
                    </span>
                    </div>

                </div>
                <div class="update_password_input">
                    <label for="password1" class="input_label">Подтвердите новый пароль</label>
                    <div class="auth_input_parent_update_password">
                        <input id="password1"
                               type="password"
                               class="input_email input_general input_auth input_update_password js-password js-password2"
                               name="password"/>
                        <img src="/images/auth_close_eye.png" alt="" class="auth_icon closed_eye js-closed-eye">
                        <img src="/images/auth_open_eye.png" alt="" class="auth_icon opened_eye js-opened-eye">
                    </div>

                </div>
            </div>
            <div class="update_password_btn">
                <button type="submit" class="btn_auth btn_login_header btn_update_password">Далее</button>
            </div>
        </div>
        <div class="update_password_form_email_img">
            <svg xmlns="http://www.w3.org/2000/svg" width="527" height="355" viewBox="0 0 527 355" fill="none">
                <path d="M512.534 138.092L284.893 242.44C277.066 245.968 268.405 247.22 259.901 246.054C251.396 244.887 243.392 241.35 236.804 235.846L45.6529 74.0729M101.944 10.4425L475.449 61.6576C501.234 65.1933 519.271 88.9625 515.735 114.748L477.324 394.876C473.788 420.662 450.019 438.698 424.234 435.163L50.7288 383.948C24.9436 380.412 6.90688 356.643 10.4425 330.858L48.8538 50.7288C52.3895 24.9436 76.1587 6.90688 101.944 10.4425Z" stroke="#0D0D0D" stroke-opacity="0.05" stroke-width="20" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </form>
    <div  class="modal_update_password modal_reset_password">
        <div class="modal_update_password_container">
            <div class="modal_update_password_header">
                <p class="modal_update_password_subttile">MEDIAP2P</p>
                <p class="modal_update_password_title">
                    <span class="modal_update_password_title_small">ПАРОЛЬ</span>
                    <span class="modal_update_password_title_big">ВОССТАНОВЛЕН!</span>
                </p>
            </div>
            <div class="modal_update_password_right_block">
                <div class="parenthis_img">
                    <svg xmlns="http://www.w3.org/2000/svg" width="103" height="74" viewBox="0 0 103 74" fill="none">
                        <path d="M56.6947 73V73.5H57.1947H93.0354H93.5354V73V37.7205V37.2205H93.0354H79.7784C79.3086 31.0784 80.8095 26.3361 84.2087 22.9137C87.7076 19.391 93.2909 17.1913 101.051 16.3887L101.602 16.3317L101.49 15.7899L98.6135 1.89863L98.5291 1.4911L98.1131 1.50012C84.4708 1.7957 74.0805 5.27044 67.0265 12.0016C60.1023 18.6026 56.6947 29.0532 56.6947 43.2329V73ZM0.5 73V73.5H1H36.8407H37.3407V73V37.7205V37.2205H36.8407H23.5837C23.1139 31.0784 24.6148 26.3361 28.014 22.9137C31.5129 19.391 37.0962 17.1913 44.8568 16.3887L45.4071 16.3317L45.2949 15.7899L42.4188 1.89863L42.3344 1.4911L41.9184 1.50012C28.2762 1.7957 17.886 5.27039 10.832 12.0015C3.90771 18.6025 0.5 29.0531 0.5 43.2329V73Z" stroke="black"/>
                    </svg>
                </div>
                <p class="modal_update_password_description">Ваш пароль восстановлен! Авторизуйтесь сейчас и получите доступ к вашему аккаунту.</p>
                <a href="/login" class="modal_update_password_btn">Далее</a>
            </div>
            <img src="/images/reset_password.svg" alt="" class="reset_password_img_modal">
        </div>

        <div class="modal_update_password_container_tablet">
            <div class="modal_reset_header">
                <img src="/images/reset_password.svg" alt="" class="modal_reset_tablet_img">
            </div>
            <div class="modal_reset_main">
                <div class="modal_reset_main_content">
                    <p class="modal_reset_title">ПАРОЛЬ ВОССТАНОВЛЕН !</p>
                    <p class="modal_reset_description">Ваш пароль восстановлен! Авторизуйтесь сейчас и получите доступ к вашему аккаунту.</p>
                    <a href="/login" class="modal_reset_btn">Далее</a>
                </div>

            </div>
        </div>
    </div>
    <div class="overlay_update_password"></div>
</div>
<script src="/js/burger.js"></script>
<script src="//code.tidio.co/y1qxv75ounfxvprxbxargnrelyfkfkbf.js" async></script>
</body>
</html>